<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
</head>
<body>
<nav th:replace="admin/_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small"></nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">Post</a>
            <a href="#" class="teal active item">List</a>
        </div>
    </div>
</div>

<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <form action="#" method="post" class="ui segment form">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="Title">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text">Category</div>
                        <div class="menu">
                            <div class="item" data-value="1">Error Log</div>
                            <div class="item" data-value="2">Developer Handbook</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">Recommend</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui teal basic button"><i class="search icon"></i>Research</button>
                </div>
            </div>
        </form>
        <table class="ui table">
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Category</th>
                <th>Recommend</th>
                <th>Update Time</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>刻意练习清单刻意练习清单</td>
                <td>认知升级</td>
                <td>是</td>
                <td>2020-02-02</td>
                <td>
                    <a href="#" class="ui mini teal basic button">Edit</a>
                    <a href="#" class="ui mini red basic button">Delete</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui mini pagination menu">
                        <a class="item">Before</a>
                        <a class="item">Next</a>
                    </div>
                    <a href="#" class="ui mini right floated teal basic button">New</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on : 'hover'
    })
</script>
</body>
</html>